@model IEnumerable<MovieApp.Entity.UserModel>
@{ ViewData["Title"] = "ShowUserDetails"; }

<h1>ShowUserDetails</h1>
<hr />

<a asp-controller="User" asp-action="SelectUser">show user details</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.UserId</td>
    <td>@item.FirstName </td>
    <td>@item.LastName</td>
    <td>@item.Email</td>
    <td><a asp-controller="User" asp-action="Edit" asp-route-UserId=@item.UserId>edit</a></td>
    <td><a asp-controller="User" asp-action="Delete" asp-route-UserId=@item.UserId>Delete</a></td>
    
</tr>
}
    </tbody>


</table>


